<div class="container">
  <button class="btn btn-success" (click)="createItem()">Create</button>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th (click)="sortColumn('orderDate')">OrderDate</th>
        <th (click)="sortColumn('region')">Region</th>
        <th (click)="sortColumn('city')">City</th>
        <th (click)="sortColumn('category')">Category</th>
        <th (click)="sortColumn('product')">Product</th>
        <th (click)="sortColumn('quantity')">Quantity</th>
        <th (click)="sortColumn('unitPrice')">UnitPrice</th>
        <th (click)="sortColumn('totalPrice')">TotalPrice</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input matInput placeholder="Filter by Date" [(ngModel)]="filterDate" (ngModelChange)="filterByDate($event)">
        </td>
        <!-- ... -->
      </tr>
      <tr *ngFor="let item of foodSales">
        <td>{{ item.orderDate | date : "yyyy-MM-dd" }}</td>
        <td>{{ item.region }}</td>
        <td>{{ item.city }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.product }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.unitPrice }}</td>
        <td>{{ item.totalPrice }}</td>
        <td>
          <button class="btn btn-primary" (click)="editItem(item)">Edit</button>
          <button class="btn btn-danger" (click)="deleteItem(item)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
